---
layout: default
title: "Projects"
permalink: /projects/
---
<section id="projects">
  <div class="jumbotron jumbotron-project">
    <div class="container">
      <h1 class="page-title">Projects</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">    
      {% for project in site.projects reversed %}
      <div class="col-md-8 project-item">
        <h2>
          <a href="{{ project.link }}" target="_blank">
            <span class="glyphicon glyphicon-new-window icon-size" aria-hidden="true"></span>
            {{ project.title }}</a>
        </h2>
        <p class="description">{{ project.content }}</p>
        <p class="tags">
          {% for tag in project.tags %}
            <span class="label label-default">{{ tag.name }}</span>
          {% endfor %}
        </p>
      </div>
      {% endfor %} 
      </ul>
    </div>
  </div>
</section>