html {
  font-size: 100%;
  font-size: calc(1rem + .5vw);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Istok Web", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background:#ecf0f1;
  padding-top: 50px;
  padding-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

a:not(.btn) {
    color: #111;
    text-decoration: none
}

header a:not(.btn):hover,
header a:not(.btn):focus {
    background-image: -webkit-linear-gradient(transparent, transparent 87.5%, #111 87.5%);
    background-image: linear-gradient(transparent, transparent 87.5%, #111 87.5%);
}

#home a:not(.btn):hover,
#home a:not(.btn):focus,
.active-home {
    background-image: -webkit-linear-gradient(transparent, transparent 87.5%, #2980b9 87.5%);
    background-image: linear-gradient(transparent, transparent 87.5%, #2980b9 87.5%);
}

.active-projects {
    background-image: -webkit-linear-gradient(transparent, transparent 87.5%, #27ae60 87.5%);
    background-image: linear-gradient(transparent, transparent 87.5%, #27ae60 87.5%);
}

